In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
dataset = pd.read_csv("CKD.csv")
dataset.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.0,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.0,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.0,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.0,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.0,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes

In [5]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset.shape
pd.set_option("display.max.columns",None)
pd.set_option("display.precision",2)
dataset.head()

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,pcv,wc,rc,sg_b,sg_c,sg_d,sg_e,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.0,76.46,3.0,0.0,148.11,57.48,3.08,137.53,4.63,12.52,38.87,8408.19,4.71,0,1,0,0,1,0,0,0,0,0,0,1,1,0,1
1,3.0,76.46,2.0,0.0,148.11,22.00,0.70,137.53,4.63,10.70,34.00,12300.00,4.71,0,1,0,0,1,1,0,0,0,0,0,1,0,0,1
2,4.0,76.46,1.0,0.0,99.00,23.00,0.60,138.00,4.40,12.00,34.00,8408.19,4.71,0,0,0,0,1,1,0,0,0,0,0,1,0,0,1
3,5.0,76.46,1.0,0.0,148.11,16.00,0.70,138.00,3.20,8.10,38.87,8408.19,4.71,0,0,1,0,1,1,0,0,0,0,0,1,0,1,1
4,5.0,50.00,0.0,0.0,148.11,25.00,0.60,137.53,4.63,11.80,36.00,12400.00,4.71,0,1,0,0,1,1,0,0,0,0,0,1,0,0,1

In [6]:
indep=dataset[["age","bp","al","su","bgr","bu","sc","sod","pot","hrmo","pcv","wc","rc","sg_b","sg_c","sg_d","sg_e","rbc_normal","pc_normal","pcc_present","ba_present","htn_yes","dm_yes","cad_yes","appet_yes","pe_yes","ane_yes"]]
dep=dataset[["classification_yes"]]
indep

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,pcv,wc,rc,sg_b,sg_c,sg_d,sg_e,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2.00,76.46,3.0,0.0,148.11,57.48,3.08,137.53,4.63,12.52,38.87,8408.19,4.71,0,1,0,0,1,0,0,0,0,0,0,1,1,0
1,3.00,76.46,2.0,0.0,148.11,22.00,0.70,137.53,4.63,10.70,34.00,12300.00,4.71,0,1,0,0,1,1,0,0,0,0,0,1,0,0
2,4.00,76.46,1.0,0.0,99.00,23.00,0.60,138.00,4.40,12.00,34.00,8408.19,4.71,0,0,0,0,1,1,0,0,0,0,0,1,0,0
3,5.00,76.46,1.0,0.0,148.11,16.00,0.70,138.00,3.20,8.10,38.87,8408.19,4.71,0,0,1,0,1,1,0,0,0,0,0,1,0,1
4,5.00,50.00,0.0,0.0,148.11,25.00,0.60,137.53,4.63,11.80,36.00,12400.00,4.71,0,1,0,0,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.49,70.00,0.0,0.0,219.00,36.00,1.30,139.00,3.70,12.50,37.00,9800.00,4.40,0,0,0,0,1,1,0,0,0,0,0,1,0,0
395,51.49,70.00,0.0,2.0,220.00,68.00,2.80,137.53,4.63,8.70,27.00,8408.19,4.71,0,1,0,0,1,1,0,0,1,1,0,1,0,1
396,51.49,70.00,3.0,0.0,110.00,115.00,6.00,134.00,2.70,9.10,26.00,9200.00,3.40,0,1,0,0,1,1,0,0,1,1,0,0,0,0
397,51.49,90.00,0.0,0.0,207.00,80.00,6.80,142.00,5.50,8.50,38.87,8408.19,4.71,0,0,0,0,1,1,0,0,1,1,0,1,0,1
398,51.49,80.00,0.0,0.0,100.00,49.00,1.00,140.00,5.00,16.30,53.00,8500.00,4.90,0,0,0,0,1,1,0,0,0,0,0,1,0,0

In [7]:
from sklearn.model_selection import train_test_split
X_train,x_test,y_train,y_test=train_test_split(indep,dep,test_size=0.30,random_state=0)

In [13]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
param_grid={'solver':['lbfgs', 'liblinear',  'sag', 'saga'],
            "multi_class":['auto','ovr']}
grid=GridSearchCV(LogisticRegression(),param_grid,refit=True,verbose=3,cv=5,n_jobs=-1,scoring="f1_weighted")
grid.fit(X_train,y_train)

Fitting 5 folds for each of 8 candidates, totalling 40 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   23.8s
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed:   25.9s finished
C:\Users\LENOVO\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=LogisticRegression(C=1.0, class_weight=None, dual=False,
                                          fit_intercept=True,
                                          intercept_scaling=1, l1_ratio=None,
                                          max_iter=100, multi_class='warn',
                                          n_jobs=None, penalty='l2',
                                          random_state=None, solver='warn',
                                          tol=0.0001, verbose=0,
                                          warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'multi_class': ['auto', 'ovr'],
                         'solver': ['lbfgs', 'liblinear', 'sag', 'saga']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='f1_weighted', verbose=3)

In [14]:
re=grid.cv_results_
grid_predict=grid.predict(x_test)

In [16]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,grid_predict)

In [17]:
from sklearn.metrics import classification_report
clf_report=classification_report(y_test,grid_predict)
print(clf_report)

              precision    recall  f1-score   support

           0       1.00      0.96      0.98        45
           1       0.97      1.00      0.99        75

    accuracy                           0.98       120
   macro avg       0.99      0.98      0.98       120
weighted avg       0.98      0.98      0.98       120

In [19]:
print(cm)

[[43  2]
 [ 0 75]]

In [20]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_multi_class,param_solver,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.58,4.64e-01,6.26e-03,7.66e-03,auto,lbfgs,"{'multi_class': 'auto', 'solver': 'lbfgs'}",0.93,0.91,0.89,0.89,0.96,0.92,2.61e-02,3
1,0.05,9.88e-03,6.25e-03,7.66e-03,auto,liblinear,"{'multi_class': 'auto', 'solver': 'liblinear'}",1.00,0.96,0.98,0.96,1.00,0.98,1.60e-02,1
2,0.82,5.74e-01,5.24e-01,6.56e-01,auto,sag,"{'multi_class': 'auto', 'solver': 'sag'}",0.48,0.48,0.48,0.48,0.47,0.48,3.36e-03,5
3,0.27,1.10e-01,4.38e-02,1.17e-02,auto,saga,"{'multi_class': 'auto', 'solver': 'saga'}",0.48,0.48,0.48,0.48,0.47,0.48,3.36e-03,5
4,0.52,2.54e-01,3.13e-03,6.26e-03,ovr,lbfgs,"{'multi_class': 'ovr', 'solver': 'lbfgs'}",0.93,0.91,0.89,0.89,0.96,0.92,2.61e-02,3
5,0.29,5.10e-01,3.12e-03,6.25e-03,ovr,liblinear,"{'multi_class': 'ovr', 'solver': 'liblinear'}",1.00,0.96,0.98,0.96,1.00,0.98,1.60e-02,1
6,0.29,3.76e-01,3.44e-02,6.23e-03,ovr,sag,"{'multi_class': 'ovr', 'solver': 'sag'}",0.48,0.48,0.48,0.48,0.47,0.48,3.36e-03,5
7,0.41,3.44e-01,3.75e-02,7.65e-03,ovr,saga,"{'multi_class': 'ovr', 'solver': 'saga'}",0.48,0.48,0.48,0.48,0.47,0.48,3.36e-03,5

In [21]:
Future_predict=grid.predict([[2,76,3,0,148.1,57.8,3.08,137.53,4.63,12.52,38.87,8403.3,4.71,0,0,0,0,1,0,0,0,0,0,0,1,1,0]])
Future_predict

array([1], dtype=uint8)